/* slider */
.slider-1,.slider-2 {
	overflow: hidden;
}

.slider-1 .slides li .contain,.slider-1 .loading,.slider-2 .slides li .contain,.slider-2 .loading
	{
	position: relative;
	min-height: 478px;
}

.slider-1 .slides li h2,.slider-1 .slides li p,.slider-1 .slides li .links
	{
	max-width: 480px;
	min-width: 480px;
}

.slider-1 .slides li h2,.slider-1 .slides li p,.slider-1 .slides li .links,.slider-1 .slides li .item
	{
	position: absolute;
}

.slider-1 .slides li h2 {
	left: 0;
	top: -100%;
	opacity: 0;
	z-index: 50
}

.slider-1 .slides li p {
	left: 0;
	bottom: -50%;
	opacity: 0;
	z-index: 50
}

.slider-1 .slides li .links {
	left: 0;
	bottom: -100%;
	opacity: 0;
	z-index: 50
}

.slider-1 .slides li .item {
	right: -100%;
	opacity: 0;
	z-index: 10
}

.slider-1 .slides li p,.slider-2 .slides li p {
	line-height: 30px;
}

.slider-1 .loading,.slider-2 .loading {
	
}

.slider-1 .button.medium,.slider-2 .button.medium {
	padding: 17px 30px;
	margin-right: 12px;
}

.slider-1 .slides li .item .video-wrap {
	min-width: 425px;
	min-height: 244px;
}

/* slider-2 options */
.slider-2 .slides li h2,.slider-2 .slides li p,.slider-2 .slides li .links
	{
	position: absolute;
	width: 70%;
	padding: 0 15%;
}

.slider-2 .slides li h2 {
	bottom: -20%;
	opacity: 0;
}

.slider-2 .slides li p {
	bottom: -50%;
	opacity: 0;
}

.slider-2 .slides li .links {
	bottom: -60%;
	opacity: 0;
}

.slider-2 .slides li h2 span {
	padding: 10px 20px;
	background: rgba(0, 0, 0, 0.5);
	line-height: 75px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.slider-1 .slides li .links a:hover,.slider-2 .slides li .links a:hover
	{
	background: rgba(0, 0, 0, 0.5);
}

.slider-1.iphone li {
	background: url(../../edu-images/img/sliders/pattern.png) repeat;
}

.slider-1.iphone li img {
	margin-top: 37px;
}

/* slider */
.slider-1 .flex-direction-nav li a,.slider-2 .flex-direction-nav li a {
	padding: 8px 9px;
}

/* slider */
.slider-1 .slides li .item {
	max-width: 45%;
}

.slider-1 .slides li .contain,.slider-1 .loading {
	min-height: 395px;
}

.slider-1 .slides li h2,.slider-1 .slides li p,.slider-1 .slides li .links
	{
	max-width: 380px;
	min-width: 380px;
}

.slider-1 .slides li h2 {
	font-size: 22px;
	line-height: 32px;
}

.slider-1 .slides li p {
	font-size: 16px;
}

.slider-1 .slides li .item .video-wrap {
	min-width: 357px;
	min-height: 194px;
}

.slider-2 .slides li h2,.slider-2 .slides li p,.slider-2 .slides li .links
	{
	width: 80%;
	padding: 0 10%;
}

.slider-2 .slides li .contain,.slider-2 .loading {
	min-height: 447px;
}