/* Orange was */
body.skin_red_brown .product_status.special,
body.skin_red_brown .view_type_switcher a:hover,
body.skin_red_brown .view_type_switcher a.view_list.active_list,
body.skin_red_brown .view_type_switcher a.view_grid.active_grid,
body.skin_red_brown .stm_archive_product_inner_unit .stm_archive_product_inner_unit_centered .stm_featured_product_price .price,
body.skin_red_brown .sidebar-area .widget_text .btn,
body.skin_red_brown .stm_product_list_widget.widget_woo_stm_style_2 li a .meta .stm_featured_product_price .price,
body.skin_red_brown .widget_tag_cloud .tagcloud a:hover,
body.skin_red_brown .sidebar-area .widget ul li a:after,
body.skin_red_brown .sidebar-area .socials_widget_wrapper .widget_socials li a,
body.skin_red_brown .socials_widget_wrapper .widget_socials li a,
body.skin_red_brown .gallery_single_view .gallery_img a:after,
body.skin_red_brown .course_table tr td.stm_badge .badge_unit,
body.skin_red_brown .widget_mailchimp .stm_mailchimp_unit .button,
body.skin_red_brown .textwidget .btn:active,
body.skin_red_brown .textwidget .btn:focus,
body.skin_red_brown .form-submit .submit:active,
body.skin_red_brown .form-submit .submit:focus,
body.skin_red_brown .button:focus,
body.skin_red_brown .button:active,
body.skin_red_brown .btn-default:active,
body.skin_red_brown .btn-default:focus,
body.skin_red_brown .button:hover,
body.skin_red_brown .btn.btn-default:hover,
body.skin_red_brown .textwidget .btn:hover,
body.skin_red_brown .form-submit .submit,
body.skin_red_brown .button,
body.skin_red_brown .btn-default,
body.skin_red_brown .widget_mailchimp .stm_mailchimp_unit .button,
body.skin_red_brown .single-course-col .project_cat_single_item,
body.skin_red_brown #footer_copyright,
body.skin_red_brown .stm_featured_products_unit .stm_featured_product_single_unit .stm_featured_product_single_unit_centered .stm_featured_product_footer .stm_featured_product_show_more a,
body.skin_red_brown .overflowed_content .icon_box,
body.skin_red_brown #searchform-mobile .search-wrapper .search-submit,
body.skin_red_brown .header-menu-mobile .header-menu > li .arrow.active,
body.skin_red_brown .header-menu-mobile .header-menu > li.opened > a,
body.skin_red_brown mark,
body.skin_red_brown .woocommerce .cart-totals_wrap .shipping-calculator-button:hover,
body.skin_red_brown .detailed_rating .detail_rating_unit tr td.bar .full_bar .bar_filler,
body.skin_red_brown .product_status.new,
body.skin_red_brown .stm_woo_helpbar .woocommerce-product-search input[type="submit"],
body.skin_red_brown .stm_archive_product_inner_unit .stm_archive_product_inner_unit_centered .stm_featured_product_price .price.price_free,
body.skin_red_brown .sidebar-area .widget:after,
body.skin_red_brown .sidebar-area .socials_widget_wrapper .widget_socials li .back a,
body.skin_red_brown .socials_widget_wrapper .widget_socials li .back a,
body.skin_red_brown .widget_categories ul li a:hover:after,
body.skin_red_brown .event_date_info_table .event_btn .btn-default,
body.skin_red_brown .course_table tr td.stm_badge .badge_unit.quiz,
body.skin_red_brown div.multiseparator:after,
body.skin_red_brown .page-links span:hover,
body.skin_red_brown .page-links span:after,
body.skin_red_brown .page-links > span:after,
body.skin_red_brown .page-links > span,
body.skin_red_brown .stm_post_unit:after,
body.skin_red_brown .blog_layout_grid .post_list_content_unit:after,
body.skin_red_brown ul.page-numbers > li a.page-numbers:after,
body.skin_red_brown ul.page-numbers > li span.page-numbers:after,
body.skin_red_brown ul.page-numbers > li a.page-numbers:hover,
body.skin_red_brown ul.page-numbers > li span.page-numbers:hover,
body.skin_red_brown ul.page-numbers > li a.page-numbers.current:after,
body.skin_red_brown ul.page-numbers > li span.page-numbers.current:after,
body.skin_red_brown ul.page-numbers > li a.page-numbers.current,
body.skin_red_brown ul.page-numbers > li span.page-numbers.current,
body.skin_red_brown .triangled_colored_separator,
body.skin_red_brown .short_separator,
body.skin_red_brown .magic_line,
body.skin_red_brown .navbar-toggle .icon-bar,
body.skin_red_brown .navbar-toggle:hover .icon-bar,
body.skin_red_brown #searchform .search-submit,
body.skin_red_brown .header_main_menu_wrapper .header-menu > li > ul.sub-menu:before,
body.skin_red_brown .search-toggler:after,
body.skin_red_brown .modal .popup_title,
body.skin_red_brown .widget_pages ul.style_2 li a:hover:after,
body.skin_red_brown .sticky_post,
body.skin_red_brown .btn-carousel-control:after{
	background-color: #ff4545 !important;
}

body.skin_red_brown .overflowed_content .wpb_column:nth-child(2) .icon_box,
body.skin_red_brown .overflowed_content .wpb_column:nth-child(4) .icon_box {
	background-color: #f23e3e !important;
}

body.skin_red_brown ul.page-numbers > li a.page-numbers:hover,
body.skin_red_brown ul.page-numbers > li a.page-numbers.current,
body.skin_red_brown ul.page-numbers > li span.page-numbers.current,
body.skin_red_brown .custom-border textarea:active, 
body.skin_red_brown .custom-border input[type=text]:active, 
body.skin_red_brown .custom-border input[type=email]:active, 
body.skin_red_brown .custom-border input[type=number]:active, 
body.skin_red_brown .custom-border input[type=password]:active, 
body.skin_red_brown .custom-border input[type=tel]:active,
body.skin_red_brown .custom-border .form-control:active,
body.skin_red_brown .custom-border textarea:focus, 
body.skin_red_brown .custom-border input[type=text]:focus, 
body.skin_red_brown .custom-border input[type=email]:focus, 
body.skin_red_brown .custom-border input[type=number]:focus, 
body.skin_red_brown .custom-border input[type=password]:focus, 
body.skin_red_brown .custom-border input[type=tel]:focus,
body.skin_red_brown .custom-border .form-control:focus,
body.skin_red_brown .icon-btn:hover .icon_in_btn,
body.skin_red_brown .icon-btn:hover,
body.skin_red_brown #footer_copyright,
body.skin_red_brown .wpb_tabs .form-control:focus,
body.skin_red_brown .wpb_tabs .form-control:active,
body.skin_red_brown .woocommerce .cart-totals_wrap .shipping-calculator-button,
body.skin_red_brown .sidebar-area .widget_text .btn,
body.skin_red_brown .widget_tag_cloud .tagcloud a:hover,
body.skin_red_brown .icon_box.dark a:hover,
body.skin_red_brown .stm_sign_up_form .form-control:active,
body.skin_red_brown .stm_sign_up_form .form-control:focus,
body.skin_red_brown .form-submit .submit,
body.skin_red_brown .button,
body.skin_red_brown .btn-default,
body.skin_red_brown .simple-carousel-bullets a.selected,
body.skin_red_brown .average_rating_unit,
body.skin_red_brown blockquote,
body.skin_red_brown .blog_layout_grid .post_list_meta_unit,
body.skin_red_brown .blog_layout_grid .post_list_meta_unit .post_list_comment_num,
body.skin_red_brown .blog_layout_list .post_list_meta_unit .post_list_comment_num,
body.skin_red_brown .blog_layout_list .post_list_meta_unit,
body.skin_red_brown .tp-caption .icon-btn:hover .icon_in_btn,
body.skin_red_brown .tp-caption .icon-btn:hover,
body.skin_red_brown .stm_theme_wpb_video_wrapper .stm_video_preview:after,
body.skin_red_brown .btn-carousel-control,
body.skin_red_brown .post_list_main_section_wrapper .post_list_meta_unit .post_list_comment_num,
body.skin_red_brown .post_list_main_section_wrapper .post_list_meta_unit,
body.skin_red_brown .search-toggler:hover,
body.skin_red_brown .search-toggler {
	border-color: #ff4545 !important;
}

body.skin_red_brown .demo-label,
body.skin_red_brown .icon-btn:hover .icon_in_btn,
body.skin_red_brown .icon-btn:hover .link-title,
body.skin_red_brown .stm_woo_archive_view_type_list .stm_featured_product_stock i,
body.skin_red_brown .stm_woo_archive_view_type_list .expert_unit_link:hover .expert,
body.skin_red_brown .stm_archive_product_inner_unit .stm_archive_product_inner_unit_centered .stm_featured_product_body a .title:hover,
body.skin_red_brown .stm_product_list_widget.widget_woo_stm_style_2 li a:hover .title,
body.skin_red_brown .widget_stm_recent_posts .widget_media a:hover .h6,
body.skin_red_brown .widget_product_search .woocommerce-product-search:after,
body.skin_red_brown .widget_search .search-form > label:after,
body.skin_red_brown .sidebar-area .widget ul li a,
body.skin_red_brown .sidebar-area .widget_categories ul li a,
body.skin_red_brown .event-col .event_archive_item > a:hover .title,
body.skin_red_brown .stm_contact_row a:hover,
body.skin_red_brown .comments-area .commentmetadata i,
body.skin_red_brown .stm_post_info .stm_post_details .comments_num .post_comments:hover,
body.skin_red_brown .stm_post_info .stm_post_details .comments_num .post_comments i,
body.skin_red_brown .stm_post_info .stm_post_details .post_meta li a:hover span,
body.skin_red_brown .stm_post_info .stm_post_details .post_meta li i,
body.skin_red_brown .blog_layout_list .post_list_item_tags .post_list_divider,
body.skin_red_brown .blog_layout_list .post_list_item_tags a,
body.skin_red_brown .blog_layout_list .post_list_cats .post_list_divider,
body.skin_red_brown .blog_layout_list .post_list_cats a,
body.skin_red_brown .blog_layout_list .post_list_item_title a:hover,
body.skin_red_brown .blog_layout_grid .post_list_item_tags .post_list_divider,
body.skin_red_brown .blog_layout_grid .post_list_item_tags a,
body.skin_red_brown .blog_layout_grid .post_list_cats .post_list_divider,
body.skin_red_brown .blog_layout_grid .post_list_cats a,
body.skin_red_brown .blog_layout_grid .post_list_item_title:focus,
body.skin_red_brown .blog_layout_grid .post_list_item_title:active,
body.skin_red_brown .blog_layout_grid .post_list_item_title:hover,
body.skin_red_brown .stm_featured_products_unit .stm_featured_product_single_unit .stm_featured_product_single_unit_centered .stm_featured_product_body a .title:hover,
body.skin_red_brown .icon_box.dark a:hover,
body.skin_red_brown .post_list_main_section_wrapper .post_list_item_tags .post_list_divider,
body.skin_red_brown .post_list_main_section_wrapper .post_list_item_tags a,
body.skin_red_brown .post_list_main_section_wrapper .post_list_cats .post_list_divider,
body.skin_red_brown .post_list_main_section_wrapper .post_list_cats a,
body.skin_red_brown .widget_contacts ul li .text a,
body.skin_red_brown .icon_box .icon_text>h3>span,
body.skin_red_brown .post_list_main_section_wrapper .post_list_item_title:active,
body.skin_red_brown .post_list_main_section_wrapper .post_list_item_title:focus,
body.skin_red_brown .post_list_main_section_wrapper .post_list_item_title:hover,
body.skin_red_brown .stats_counter .h1,
body.skin_red_brown .event_date_info .event_date_info_unit .event_labels,
body.skin_red_brown .event-col .event_archive_item .event_location i,
body.skin_red_brown .event-col .event_archive_item .event_start i,
body.skin_red_brown .gallery_terms_list li.active a,
body.skin_red_brown .blog_layout_grid .post_list_meta_unit .post_list_comment_num,
body.skin_red_brown .blog_layout_grid .post_list_meta_unit .date-m,
body.skin_red_brown .blog_layout_grid .post_list_meta_unit .date-d,
body.skin_red_brown .blog_layout_list .post_list_meta_unit .post_list_comment_num,
body.skin_red_brown .blog_layout_list .post_list_meta_unit .date-m,
body.skin_red_brown .blog_layout_list .post_list_meta_unit .date-d,
body.skin_red_brown .tp-caption .icon-btn:hover .icon_in_btn,
body.skin_red_brown .widget_pages ul.style_2 li a:hover .h6,
body.skin_red_brown .teacher_single_product_page>a:hover .title,
body.skin_red_brown .sidebar-area .widget ul li a:hover:after,
body.skin_red_brown div.pp_woocommerce .pp_gallery ul li a:hover,
body.skin_red_brown div.pp_woocommerce .pp_gallery ul li.selected a,
body.skin_red_brown .single_product_after_title .meta-unit.teacher a:hover .value,
body.skin_red_brown .single_product_after_title .meta-unit i,
body.skin_red_brown .single_product_after_title .meta-unit .value a:hover,
body.skin_red_brown .woocommerce-breadcrumb a:hover,
body.skin_red_brown #footer_copyright .copyright_text a:hover,
body.skin_red_brown .widget_stm_recent_posts .widget_media .cats_w a:hover,
body.skin_red_brown .widget_pages ul.style_2 li a:hover,
body.skin_red_brown .sidebar-area .widget_categories ul li a:hover,
body.skin_red_brown .sidebar-area .widget ul li a:hover,
body.skin_red_brown .widget_categories ul li a:hover,
body.skin_red_brown .stm_product_list_widget li a:hover .title,
body.skin_red_brown .widget_contacts ul li .text a:hover,
body.skin_red_brown .sidebar-area .widget_pages ul.style_1 li a:focus .h6,
body.skin_red_brown .sidebar-area .widget_nav_menu ul.style_1 li a:focus .h6,
body.skin_red_brown .sidebar-area .widget_pages ul.style_1 li a:focus,
body.skin_red_brown .sidebar-area .widget_nav_menu ul.style_1 li a:focus,
body.skin_red_brown .sidebar-area .widget_pages ul.style_1 li a:active .h6,
body.skin_red_brown .sidebar-area .widget_nav_menu ul.style_1 li a:active .h6,
body.skin_red_brown .sidebar-area .widget_pages ul.style_1 li a:active,
body.skin_red_brown .sidebar-area .widget_nav_menu ul.style_1 li a:active,
body.skin_red_brown .sidebar-area .widget_pages ul.style_1 li a:hover .h6,
body.skin_red_brown .sidebar-area .widget_nav_menu ul.style_1 li a:hover .h6,
body.skin_red_brown .sidebar-area .widget_pages ul.style_1 li a:hover,
body.skin_red_brown .sidebar-area .widget_nav_menu ul.style_1 li a:hover,
body.skin_red_brown .widget_pages ul.style_1 li a:focus .h6,
body.skin_red_brown .widget_nav_menu ul.style_1 li a:focus .h6,
body.skin_red_brown .widget_pages ul.style_1 li a:focus,
body.skin_red_brown .widget_nav_menu ul.style_1 li a:focus,
body.skin_red_brown .widget_pages ul.style_1 li a:active .h6,
body.skin_red_brown .widget_nav_menu ul.style_1 li a:active .h6,
body.skin_red_brown .widget_pages ul.style_1 li a:active,
body.skin_red_brown .widget_nav_menu ul.style_1 li a:active,
body.skin_red_brown .widget_pages ul.style_1 li a:hover .h6,
body.skin_red_brown .widget_nav_menu ul.style_1 li a:hover .h6,
body.skin_red_brown .widget_pages ul.style_1 li a:hover,
body.skin_red_brown .widget_nav_menu ul.style_1 li a:hover,
body.skin_red_brown .see_more a:after,
body.skin_red_brown .see_more a,
body.skin_red_brown .transparent_header_off .header_main_menu_wrapper ul > li > ul.sub-menu > li a:hover,
body.skin_red_brown .stm_breadcrumbs_unit .navxtBreads > span a:hover,
body.skin_red_brown .btn-carousel-control,
body.skin_red_brown .post_list_main_section_wrapper .post_list_meta_unit .post_list_comment_num,
body.skin_red_brown .post_list_main_section_wrapper .post_list_meta_unit .date-m,
body.skin_red_brown .post_list_main_section_wrapper .post_list_meta_unit .date-d,
body.skin_red_brown .stats_counter h1,
body.skin_red_brown .yellow,
body.skin_red_brown ol li a:hover,
body.skin_red_brown ul li a:hover,
body.skin_red_brown a:hover,
body.skin_red_brown .search-toggler {
	color: #ff4545 !important;
}

body.skin_red_brown ul.page-numbers > li a.page-numbers:hover,
body.skin_red_brown #footer_copyright .copyright_text a:hover,
body.skin_red_brown .footer_menu li a:hover,
body.skin_red_brown .textwidget .btn:hover,
body.skin_red_brown .stm_featured_products_unit .stm_featured_product_single_unit .stm_featured_product_single_unit_centered .stm_featured_product_footer .stm_featured_product_show_more a,
body.skin_red_brown .btn-carousel-control:hover,
body.skin_red_brown .btn-carousel-control:focus,
body.skin_red_brown .btn-carousel-control:active,
body.skin_red_brown .search-toggler:hover {
	color: #fff !important;
}

body.skin_red_brown .magic_line:after {
	border-color: transparent transparent #ff4545 transparent !important;
}

body.skin_red_brown .triangled_colored_separator .triangle {
	border-bottom-color: #ff4545 !important;
}

body.skin_red_brown .widget_contacts ul li .text a:hover {
	text-decoration: underline;
}

body.skin_red_brown .stm_countdown_bg .triangled_colored_separator {
	background-color: #414b4f !important;
}

body.skin_red_brown .stm_countdown_bg .triangled_colored_separator .triangle {
	border-bottom-color: #414b4f !important;
}

body.skin_red_brown .stm_countdown_bg {
	background-color: #e1e2e4 !important;
}

body.skin_red_brown .wpb_content_element h3 > span,
body.skin_red_brown .stm_countdown .countdown_label,
body.skin_red_brown .white-heading {
	color: #414b4f !important;
}

body.skin_red_brown .tp-caption .icon-btn:hover .link-title {
	background-color: transparent !important;
}