/* Orange was */
body.skin_blue_green .stm_countdown_bg,
body.skin_blue_green #searchform-mobile .search-wrapper .search-submit,
body.skin_blue_green .header-menu-mobile .header-menu > li .arrow.active,
body.skin_blue_green .header-menu-mobile .header-menu > li.opened > a,
body.skin_blue_green mark,
body.skin_blue_green .woocommerce .cart-totals_wrap .shipping-calculator-button:hover,
body.skin_blue_green .detailed_rating .detail_rating_unit tr td.bar .full_bar .bar_filler,
body.skin_blue_green .product_status.new,
body.skin_blue_green .stm_woo_helpbar .woocommerce-product-search input[type="submit"],
body.skin_blue_green .stm_archive_product_inner_unit .stm_archive_product_inner_unit_centered .stm_featured_product_price .price.price_free,
body.skin_blue_green .sidebar-area .widget:after,
body.skin_blue_green .sidebar-area .socials_widget_wrapper .widget_socials li .back a,
body.skin_blue_green .socials_widget_wrapper .widget_socials li .back a,
body.skin_blue_green .widget_categories ul li a:hover:after,
body.skin_blue_green .event_date_info_table .event_btn .btn-default,
body.skin_blue_green .course_table tr td.stm_badge .badge_unit.quiz,
body.skin_blue_green div.multiseparator:after,
body.skin_blue_green .page-links span:hover,
body.skin_blue_green .page-links span:after,
body.skin_blue_green .page-links > span:after,
body.skin_blue_green .page-links > span,
body.skin_blue_green .stm_post_unit:after,
body.skin_blue_green .blog_layout_grid .post_list_content_unit:after,
body.skin_blue_green ul.page-numbers > li a.page-numbers:after,
body.skin_blue_green ul.page-numbers > li span.page-numbers:after,
body.skin_blue_green ul.page-numbers > li a.page-numbers:hover,
body.skin_blue_green ul.page-numbers > li span.page-numbers:hover,
body.skin_blue_green ul.page-numbers > li a.page-numbers.current:after,
body.skin_blue_green ul.page-numbers > li span.page-numbers.current:after,
body.skin_blue_green ul.page-numbers > li a.page-numbers.current,
body.skin_blue_green ul.page-numbers > li span.page-numbers.current,
body.skin_blue_green .triangled_colored_separator,
body.skin_blue_green .short_separator,
body.skin_blue_green .magic_line,
body.skin_blue_green .navbar-toggle .icon-bar,
body.skin_blue_green .navbar-toggle:hover .icon-bar,
body.skin_blue_green #searchform .search-submit,
body.skin_blue_green .header_main_menu_wrapper .header-menu > li > ul.sub-menu:before,
body.skin_blue_green .search-toggler:after,
body.skin_blue_green .modal .popup_title,
body.skin_blue_green .widget_pages ul.style_2 li a:hover:after,
body.skin_blue_green .sticky_post,
body.skin_blue_green .btn-carousel-control:after{
	background-color: #8ebeff !important;
}

body.skin_blue_green ul.page-numbers > li a.page-numbers:hover,
body.skin_blue_green ul.page-numbers > li a.page-numbers.current,
body.skin_blue_green ul.page-numbers > li span.page-numbers.current,
body.skin_blue_green .custom-border textarea:active, 
body.skin_blue_green .custom-border input[type=text]:active, 
body.skin_blue_green .custom-border input[type=email]:active, 
body.skin_blue_green .custom-border input[type=number]:active, 
body.skin_blue_green .custom-border input[type=password]:active, 
body.skin_blue_green .custom-border input[type=tel]:active,
body.skin_blue_green .custom-border .form-control:active,
body.skin_blue_green .custom-border textarea:focus, 
body.skin_blue_green .custom-border input[type=text]:focus, 
body.skin_blue_green .custom-border input[type=email]:focus, 
body.skin_blue_green .custom-border input[type=number]:focus, 
body.skin_blue_green .custom-border input[type=password]:focus, 
body.skin_blue_green .custom-border input[type=tel]:focus,
body.skin_blue_green .custom-border .form-control:focus,
body.skin_blue_green .icon-btn:hover .icon_in_btn,
body.skin_blue_green .icon-btn:hover,
body.skin_blue_green .average_rating_unit,
body.skin_blue_green blockquote,
body.skin_blue_green .blog_layout_grid .post_list_meta_unit,
body.skin_blue_green .blog_layout_grid .post_list_meta_unit .post_list_comment_num,
body.skin_blue_green .blog_layout_list .post_list_meta_unit .post_list_comment_num,
body.skin_blue_green .blog_layout_list .post_list_meta_unit,
body.skin_blue_green .tp-caption .icon-btn:hover .icon_in_btn,
body.skin_blue_green .tp-caption .icon-btn:hover,
body.skin_blue_green .stm_theme_wpb_video_wrapper .stm_video_preview:after,
body.skin_blue_green .btn-carousel-control,
body.skin_blue_green .post_list_main_section_wrapper .post_list_meta_unit .post_list_comment_num,
body.skin_blue_green .post_list_main_section_wrapper .post_list_meta_unit,
body.skin_blue_green .search-toggler:hover,
body.skin_blue_green .search-toggler {
	border-color: #8ebeff !important;
}

body.skin_blue_green .icon-btn:hover .icon_in_btn,
body.skin_blue_green .icon-btn:hover .link-title,
body.skin_blue_green .stats_counter .h1,
body.skin_blue_green .event_date_info .event_date_info_unit .event_labels,
body.skin_blue_green .event-col .event_archive_item .event_location i,
body.skin_blue_green .event-col .event_archive_item .event_start i,
body.skin_blue_green .gallery_terms_list li.active a,
body.skin_blue_green .blog_layout_grid .post_list_meta_unit .post_list_comment_num,
body.skin_blue_green .blog_layout_grid .post_list_meta_unit .date-m,
body.skin_blue_green .blog_layout_grid .post_list_meta_unit .date-d,
body.skin_blue_green .blog_layout_list .post_list_meta_unit .post_list_comment_num,
body.skin_blue_green .blog_layout_list .post_list_meta_unit .date-m,
body.skin_blue_green .blog_layout_list .post_list_meta_unit .date-d,
body.skin_blue_green .tp-caption .icon-btn:hover .icon_in_btn,
body.skin_blue_green .widget_pages ul.style_2 li a:hover .h6,
body.skin_blue_green .teacher_single_product_page>a:hover .title,
body.skin_blue_green .sidebar-area .widget ul li a:hover:after,
body.skin_blue_green div.pp_woocommerce .pp_gallery ul li a:hover,
body.skin_blue_green div.pp_woocommerce .pp_gallery ul li.selected a,
body.skin_blue_green .single_product_after_title .meta-unit.teacher a:hover .value,
body.skin_blue_green .single_product_after_title .meta-unit i,
body.skin_blue_green .single_product_after_title .meta-unit .value a:hover,
body.skin_blue_green .woocommerce-breadcrumb a:hover,
body.skin_blue_green #footer_copyright .copyright_text a:hover,
body.skin_blue_green .widget_stm_recent_posts .widget_media .cats_w a:hover,
body.skin_blue_green .widget_pages ul.style_2 li a:hover,
body.skin_blue_green .sidebar-area .widget_categories ul li a:hover,
body.skin_blue_green .sidebar-area .widget ul li a:hover,
body.skin_blue_green .widget_categories ul li a:hover,
body.skin_blue_green .stm_product_list_widget li a:hover .title,
body.skin_blue_green .widget_contacts ul li .text a:hover,
body.skin_blue_green .sidebar-area .widget_pages ul.style_1 li a:focus .h6,
body.skin_blue_green .sidebar-area .widget_nav_menu ul.style_1 li a:focus .h6,
body.skin_blue_green .sidebar-area .widget_pages ul.style_1 li a:focus,
body.skin_blue_green .sidebar-area .widget_nav_menu ul.style_1 li a:focus,
body.skin_blue_green .sidebar-area .widget_pages ul.style_1 li a:active .h6,
body.skin_blue_green .sidebar-area .widget_nav_menu ul.style_1 li a:active .h6,
body.skin_blue_green .sidebar-area .widget_pages ul.style_1 li a:active,
body.skin_blue_green .sidebar-area .widget_nav_menu ul.style_1 li a:active,
body.skin_blue_green .sidebar-area .widget_pages ul.style_1 li a:hover .h6,
body.skin_blue_green .sidebar-area .widget_nav_menu ul.style_1 li a:hover .h6,
body.skin_blue_green .sidebar-area .widget_pages ul.style_1 li a:hover,
body.skin_blue_green .sidebar-area .widget_nav_menu ul.style_1 li a:hover,
body.skin_blue_green .widget_pages ul.style_1 li a:focus .h6,
body.skin_blue_green .widget_nav_menu ul.style_1 li a:focus .h6,
body.skin_blue_green .widget_pages ul.style_1 li a:focus,
body.skin_blue_green .widget_nav_menu ul.style_1 li a:focus,
body.skin_blue_green .widget_pages ul.style_1 li a:active .h6,
body.skin_blue_green .widget_nav_menu ul.style_1 li a:active .h6,
body.skin_blue_green .widget_pages ul.style_1 li a:active,
body.skin_blue_green .widget_nav_menu ul.style_1 li a:active,
body.skin_blue_green .widget_pages ul.style_1 li a:hover .h6,
body.skin_blue_green .widget_nav_menu ul.style_1 li a:hover .h6,
body.skin_blue_green .widget_pages ul.style_1 li a:hover,
body.skin_blue_green .widget_nav_menu ul.style_1 li a:hover,
body.skin_blue_green .see_more a:after,
body.skin_blue_green .see_more a,
body.skin_blue_green .transparent_header_off .header_main_menu_wrapper ul > li > ul.sub-menu > li a:hover,
body.skin_blue_green .stm_breadcrumbs_unit .navxtBreads > span a:hover,
body.skin_blue_green .btn-carousel-control,
body.skin_blue_green .post_list_main_section_wrapper .post_list_meta_unit .post_list_comment_num,
body.skin_blue_green .post_list_main_section_wrapper .post_list_meta_unit .date-m,
body.skin_blue_green .post_list_main_section_wrapper .post_list_meta_unit .date-d,
body.skin_blue_green .stats_counter h1,
body.skin_blue_green .yellow,
body.skin_blue_green ol li a:hover,
body.skin_blue_green ul li a:hover,
body.skin_blue_green a:hover,
body.skin_blue_green .search-toggler {
	color: #8ebeff !important;
}

body.skin_blue_green ul.page-numbers > li a.page-numbers:hover,
body.skin_blue_green .btn-carousel-control:hover,
body.skin_blue_green .btn-carousel-control:focus,
body.skin_blue_green .btn-carousel-control:active,
body.skin_blue_green .search-toggler:hover {
	color: #fff !important;
}

body.skin_blue_green .magic_line:after {
	border-color: transparent transparent #8ebeff transparent !important;
}

body.skin_blue_green .triangled_colored_separator .triangle {
	border-bottom-color: #8ebeff !important;
}






/* Blue was */
body.skin_blue_green .product_status.special,
body.skin_blue_green .view_type_switcher a:hover,
body.skin_blue_green .view_type_switcher a.view_list.active_list,
body.skin_blue_green .view_type_switcher a.view_grid.active_grid,
body.skin_blue_green .stm_archive_product_inner_unit .stm_archive_product_inner_unit_centered .stm_featured_product_price .price,
body.skin_blue_green .sidebar-area .widget_text .btn,
body.skin_blue_green .stm_product_list_widget.widget_woo_stm_style_2 li a .meta .stm_featured_product_price .price,
body.skin_blue_green .widget_tag_cloud .tagcloud a:hover,
body.skin_blue_green .sidebar-area .widget ul li a:after,
body.skin_blue_green .sidebar-area .socials_widget_wrapper .widget_socials li a,
body.skin_blue_green .socials_widget_wrapper .widget_socials li a,
body.skin_blue_green .gallery_single_view .gallery_img a:after,
body.skin_blue_green .course_table tr td.stm_badge .badge_unit,
body.skin_blue_green .widget_mailchimp .stm_mailchimp_unit .button,
body.skin_blue_green .textwidget .btn:active,
body.skin_blue_green .textwidget .btn:focus,
body.skin_blue_green .form-submit .submit:active,
body.skin_blue_green .form-submit .submit:focus,
body.skin_blue_green .button:focus,
body.skin_blue_green .button:active,
body.skin_blue_green .btn-default:active,
body.skin_blue_green .btn-default:focus,
body.skin_blue_green .button:hover,
body.skin_blue_green .btn.btn-default:hover,
body.skin_blue_green .textwidget .btn:hover,
body.skin_blue_green .form-submit .submit,
body.skin_blue_green .button,
body.skin_blue_green .btn-default {
	background-color: #68cf36 !important;
}




body.skin_blue_green .wpb_tabs .form-control:focus,
body.skin_blue_green .wpb_tabs .form-control:active,
body.skin_blue_green .woocommerce .cart-totals_wrap .shipping-calculator-button,
body.skin_blue_green .sidebar-area .widget_text .btn,
body.skin_blue_green .widget_tag_cloud .tagcloud a:hover,
body.skin_blue_green .icon_box.dark a:hover,
body.skin_blue_green .simple-carousel-bullets a.selected,
body.skin_blue_green .stm_sign_up_form .form-control:active,
body.skin_blue_green .stm_sign_up_form .form-control:focus,
body.skin_blue_green .form-submit .submit,
body.skin_blue_green .button,
body.skin_blue_green .btn-default {
	border-color: #68cf36 !important;
}

body.skin_blue_green .icon_box .icon_text>h3>span,
body.skin_blue_green .stm_woo_archive_view_type_list .stm_featured_product_stock i,
body.skin_blue_green .stm_woo_archive_view_type_list .expert_unit_link:hover .expert,
body.skin_blue_green .stm_archive_product_inner_unit .stm_archive_product_inner_unit_centered .stm_featured_product_body a .title:hover,
body.skin_blue_green .stm_product_list_widget.widget_woo_stm_style_2 li a:hover .title,
body.skin_blue_green .widget_stm_recent_posts .widget_media a:hover .h6,
body.skin_blue_green .widget_product_search .woocommerce-product-search:after,
body.skin_blue_green .widget_search .search-form > label:after,
body.skin_blue_green .sidebar-area .widget ul li a,
body.skin_blue_green .sidebar-area .widget_categories ul li a,
body.skin_blue_green .widget_contacts ul li .text a,
body.skin_blue_green .event-col .event_archive_item > a:hover .title,
body.skin_blue_green .stm_contact_row a:hover,
body.skin_blue_green .comments-area .commentmetadata i,
body.skin_blue_green .stm_post_info .stm_post_details .comments_num .post_comments:hover,
body.skin_blue_green .stm_post_info .stm_post_details .comments_num .post_comments i,
body.skin_blue_green .stm_post_info .stm_post_details .post_meta li a:hover span,
body.skin_blue_green .stm_post_info .stm_post_details .post_meta li i,
body.skin_blue_green .blog_layout_list .post_list_item_tags .post_list_divider,
body.skin_blue_green .blog_layout_list .post_list_item_tags a,
body.skin_blue_green .blog_layout_list .post_list_cats .post_list_divider,
body.skin_blue_green .blog_layout_list .post_list_cats a,
body.skin_blue_green .blog_layout_list .post_list_item_title a:hover,
body.skin_blue_green .blog_layout_grid .post_list_item_tags .post_list_divider,
body.skin_blue_green .blog_layout_grid .post_list_item_tags a,
body.skin_blue_green .blog_layout_grid .post_list_cats .post_list_divider,
body.skin_blue_green .blog_layout_grid .post_list_cats a,
body.skin_blue_green .blog_layout_grid .post_list_item_title:focus,
body.skin_blue_green .blog_layout_grid .post_list_item_title:active,
body.skin_blue_green .blog_layout_grid .post_list_item_title:hover,
body.skin_blue_green .stm_featured_products_unit .stm_featured_product_single_unit .stm_featured_product_single_unit_centered .stm_featured_product_body a .title:hover,
body.skin_blue_green .icon_box.dark a:hover,
body.skin_blue_green .post_list_main_section_wrapper .post_list_item_tags .post_list_divider,
body.skin_blue_green .post_list_main_section_wrapper .post_list_item_tags a,
body.skin_blue_green .post_list_main_section_wrapper .post_list_cats .post_list_divider,
body.skin_blue_green .post_list_main_section_wrapper .post_list_cats a,
body.skin_blue_green .post_list_main_section_wrapper .post_list_item_title:active,
body.skin_blue_green .post_list_main_section_wrapper .post_list_item_title:focus,
body.skin_blue_green .post_list_main_section_wrapper .post_list_item_title:hover {
	color: #68cf36 !important;
}

body.skin_blue_green .stm_countdown_bg .triangled_colored_separator {
	background-color: #fff !important;
}

body.skin_blue_green .stm_countdown_bg .triangled_colored_separator .triangle {
	border-bottom-color: #fff !important;
}

body.skin_blue_green .overflowed_content .wpb_column .icon_box {
	background-color: #8ebeff !important;
}

body.skin_blue_green .overflowed_content .wpb_column:nth-child(2n) .icon_box {
	background-color: #87b2ed !important;
}

body.skin_blue_green .tp-caption .icon-btn:hover .link-title {
	background-color: transparent !important;
}