.tdButton {
	
}

.tdButton:HOVER {
	border: solid #DADADA 1.0px;
}

.toggelCSS {
	background: url('../images/Login/button-bg.png') repeat-x top center;
	border: 1.0px solid #D3D3D3;
	color: #FFFFFF;
	font-weight: bold;
	font-family: Tahoma;
	font-size: 100.0%;
	line-height: 1.3;
	list-style: none outside none;
	margin: 0.0;
	outline: 0.0 none;
	padding: 0.0;
	text-decoration: none;
	cursor: pointer;
	margin-top: 1.0px;
}

.scoreCard {
	text-decoration: none;
	color: #000;
	background: #ffc;
	display: block;
	height: 7.0em;
	width: 7.0em;
	padding: 1.0em;
	-moz-box-shadow: 5.0px 5.0px 7.0px rgba(33.0, 33.0, 33.0, 1.0);
	-webkit-box-shadow: 5.0px 5.0px 7.0px rgba(33.0, 33.0, 33.0, 0.7);
	box-shadow: 5.0px 5.0px 7.0px rgba(33.0, 33.0, 33.0, 0.7);
	-moz-transition: -moz-transform 0.15s linear;
	-o-transition: -o-transform 0.15s linear;
	-webkit-transition: -webkit-transform 0.15s linear;
}

.buttonClass {
	cursor: pointer;
	width: 120.0px;
	height: 35.0px;
	font-family: Tahoma;
	border: 1.0px solid #25729a;
	-webkit-border-radius: 3.0px;
	-moz-border-radius: 3.0px;
	border-radius: 3.0px;
	font-size: 12.0px;
	font-family: arial, helvetica, sans-serif;
	padding: 3.0px 3.0px 3.0px 3.0px;
	text-decoration: none;
	display: inline-block;
	text-shadow: -1.0px -1.0px 0.0 rgba(0.0, 0.0, 0.0, 0.3);
	font-weight: bold;
	color: #FFFFFF;
	background-color: #3093c7;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3093c7),
		to(#1c5a85));
	background-image: -webkit-linear-gradient(top, #3093c7, #1c5a85);
	background-image: -moz-linear-gradient(top, #3093c7, #1c5a85);
	background-image: -ms-linear-gradient(top, #3093c7, #1c5a85);
	background-image: -o-linear-gradient(top, #3093c7, #1c5a85);
	background-image: linear-gradient(to bottom, #3093c7, #1c5a85);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr=#3093c7, endColorstr=#1c5a85);
}

.buttonClass:hover {
	cursor: pointer;
	width: 120.0px;
	height: 35.0px;
	font-family: Tahoma;
	border: 1.0px solid #1c5675;
	background-color: #26759e;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#26759e),
		to(#133d5b));
	background-image: -webkit-linear-gradient(top, #26759e, #133d5b);
	background-image: -moz-linear-gradient(top, #26759e, #133d5b);
	background-image: -ms-linear-gradient(top, #26759e, #133d5b);
	background-image: -o-linear-gradient(top, #26759e, #133d5b);
	background-image: linear-gradient(to bottom, #26759e, #133d5b);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr=#26759e, endColorstr=#133d5b);
}

.buttonBeginTest {
	padding: 5.0px;
	width: 250.0px;
	height: 50.0px;
	border: 3.0px solid #ffc826;
	-webkit-border-radius: 3.0px;
	-moz-border-radius: 3.0px;
	border-radius: 3.0px;
	font-size: 12.0px;
	font-family: arial, helvetica, sans-serif;
	padding: 3.0px 3.0px 3.0px 3.0px;
	text-decoration: none;
	display: inline-block;
	text-shadow: -1.0px -1.0px 0.0 rgba(0.0, 0.0, 0.0, 0.3);
	font-weight: bold;
	color: #FFFFFF;
	background-color: #ffd65e;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffd65e),
		to(#febf04));
	background-image: -webkit-linear-gradient(top, #ffd65e, #febf04);
	background-image: -moz-linear-gradient(top, #ffd65e, #febf04);
	background-image: -ms-linear-gradient(top, #ffd65e, #febf04);
	background-image: -o-linear-gradient(top, #ffd65e, #febf04);
	background-image: linear-gradient(to bottom, #ffd65e, #febf04);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr=#ffd65e, endColorstr=#febf04);
}

.buttonBeginTest:hover {
	width: 250.0px;
	height: 50.0px;
	border: 1.0px solid #ececec;
	background-color: #ffc92b;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc92b),
		to(#ce9a01));
	background-image: -webkit-linear-gradient(top, #ffc92b, #ce9a01);
	background-image: -moz-linear-gradient(top, #ffc92b, #ce9a01);
	background-image: -ms-linear-gradient(top, #ffc92b, #ce9a01);
	background-image: -o-linear-gradient(top, #ffc92b, #ce9a01);
	background-image: linear-gradient(to bottom, #ffc92b, #ce9a01);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr=#ffc92b, endColorstr=#ce9a01);
}

.timerCard {
	height: 7.0em;
	width: 7.0em;
	border: 1.0px solid #f9f68a;
	-webkit-border-radius: 3.0px;
	-moz-border-radius: 3.0px;
	border-radius: 3.0px;
	font-size: 12.0px;
	font-family: arial, helvetica, sans-serif;
	padding: 10.0px 10.0px 10.0px 10.0px;
	text-decoration: none;
	display: inline-block;
	text-shadow: -1.0px -1.0px 0.0 rgba(0.0, 0.0, 0.0, 0.3);
	font-weight: bold;
	color: #FFFFFF;
	background-color: #fcfac0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fcfac0),
		to(#f6f283));
	background-image: -webkit-linear-gradient(top, #fcfac0, #f6f283);
	background-image: -moz-linear-gradient(top, #fcfac0, #f6f283);
	background-image: -ms-linear-gradient(top, #fcfac0, #f6f283);
	background-image: -o-linear-gradient(top, #fcfac0, #f6f283);
	background-image: linear-gradient(to bottom, #fcfac0, #f6f283);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr=#fcfac0, endColorstr=#f6f283);
}

.serialKey {
	background: no-repeat scroll right center #FFFFFF;
	width: 78.0%;
	border: 1.0px solid #FFFFFF;
	font-family: Tahoma, verdana, Arial, helvetica, sans-serif;
	font-size: 13.0px;
	font-weight: normal;
	text-decoration: none;
	line-height: 23.0px;
	height: 27.0px;
	border: 1.0px solid #DDD;
	box-shadow: 0.0 0.0 5.0px #888;
	color: #666;
	float: left;
	padding: 5.0px 27.0px 5.0px 10.0px;
	-webkit-border-radius: 5.0px;
	-moz-border-radius: 5.0px;
	border-radius: 5.0px;
}

input[type=text] {
	padding: 2.0, 2.0, 2.0, 2.0;
	width: 180.0px;
	height: 25.0px;
	position: relative;
	left: 0.0;
	outline: none;
	border: 2.0px solid #cdcdcd;
	border-color: rgba(0.0, 0.0, 0.0, 0.15);
	background-color: white;
	font-family: Tahoma, Arial, Verdana;
	font-size: 11.0px;
	-webkit-border-radius: 5.0px;
	-moz-border-radius: 5.0px;
	border-radius: 5.0px;
}

input[readonly] {
	padding: 2.0, 2.0, 2.0, 2.0;
	width: 180.0px;
	height: 25.0px;
	position: relative;
	left: 0.0;
	outline: none;
	border: 2.0px solid #cdcdcd;
	border-color: rgba(0.0, 0.0, 0.0, 0.15);
	background-image: url('../images/gray_gradient.jpg');
	font-family: Tahoma, Arial, Verdana;
	font-size: 11.0px;
	-webkit-border-radius: 5.0px;
	-moz-border-radius: 5.0px;
	border-radius: 5.0px;
}

select {
	height: 26.0px;
	width: 182.0px;
	position: relative;
	left: 0.0;
	outline: none;
	border: 2.0px solid #cdcdcd;
	border-color: rgba(0.0, 0.0, 0.0, 0.15);
	background-color: white;
	font-family: Tahoma, Arial, Verdana;
	font-size: 11.0px;
	-webkit-border-radius: 5.0px;
	-moz-border-radius: 5.0px;
	border-radius: 5.0px;
	valign: middle;
}

select[disabled] {
	height: 26.0px;
	width: 182.0px;
	position: relative;
	left: 0.0;
	outline: none;
	border: 2.0px solid #cdcdcd;
	border-color: rgba(0.0, 0.0, 0.0, 0.15);
	background-image: url('../images/gray_gradient.jpg');
	font-family: Tahoma, Arial, Verdana;
	font-size: 11.0px;
	-webkit-border-radius: 5.0px;
	-moz-border-radius: 5.0px;
	border-radius: 5.0px;
	valign: middle;
}

textarea {
	padding: 2.0, 2.0, 2.0, 2.0;
	width: 180.0px;
	left: 0.0;
	outline: none;
	border: 2.0px solid #cdcdcd;
	border-color: rgba(0.0, 0.0, 0.0, 0.15);
	background-color: white;
	font-family: Tahoma, Arial, Verdana;
	font-size: 11.0px;
	-webkit-border-radius: 5.0px;
	-moz-border-radius: 5.0px;
	border-radius: 5.0px;
}

textarea[readonly] {
	padding: 2.0, 2.0, 2.0, 2.0;
	width: 180.0px;
	left: 0.0;
	outline: gray;
	border: 2.0px solid #cdcdcd;
	border-color: rgba(0.0, 0.0, 0.0, 0.15);
	background-image: url('../images/gray_gradient.jpg');
	font-family: Tahoma, Arial, Verdana;
	font-size: 11.0px;
	-webkit-border-radius: 5.0px;
	-moz-border-radius: 5.0px;
	border-radius: 5.0px;
}

.lblspan {
	font-family: Tahoma;
	font-size: 11.0px;
	font-weight: bold;
}

.lblstyle {
	font-weight: bold;
	font-size: 11.0px;
	font-family: Tahoma;
	height: 27.0px;
	width: 200.0px;
}

.btnstyle {
	background: url('../images/Login/button-bg.png') repeat-x top center;
	font-family: Tahoma, Arial, verdana, helvetica, sans-serif;
	font-size: 11.0px;
	border: 1.0px solid #999;
	padding: 5.0px;
	color: white;
	font-weight: bold;
	-webkit-border-radius: 5.0px;
	-moz-border-radius: 5.0px;
	border-radius: 5.0px;
	width: 90.0px;
}

.btnstyle:HOVER {
	background: url('../images/Login/button-bg_hover.png') repeat-x top
		center;
	font-family: Tahoma, Arial, verdana, helvetica, sans-serif;
	font-size: 11.0px;
	border: 1.0px solid #999;
	padding: 5.0px;
	color: #336699;
	font-weight: bold;
	-webkit-border-radius: 5.0px;
	-moz-border-radius: 5.0px;
	border-radius: 5.0px;
	width: 90.0px;
}

.btnstyle:disabled {
	background: url('../images/Login/button-bg_hover.png') repeat-x top
		center;
	background-color: #ebebeb;
	font-family: Tahoma, Arial, verdana, helvetica, sans-serif;
	font-size: 11.0px;
	border: 1.0px solid #999;
	padding: 5.0px;
	color: gray;
	font-weight: bold;
	-webkit-border-radius: 5.0px;
	-moz-border-radius: 5.0px;
	border-radius: 5.0px;
	width: 90.0px;
}

.onlineExam {
	background: no-repeat scroll right center #FFFFFF;
	width: 78.0%;
	border: 1.0px solid #FFFFFF;
	font-family: Tahoma, verdana, Arial, helvetica, sans-serif;
	font-size: 13.0px;
	font-weight: normal;
	text-decoration: none;
	line-height: 23.0px;
	height: 27.0px;
	border: 1.0px solid #DDD;
	box-shadow: 0.0 0.0 5.0px #888;
	color: #666;
	float: left;
	padding: 5.0px 27.0px 5.0px 10.0px;
	-webkit-border-radius: 5.0px;
	-moz-border-radius: 5.0px;
	border-radius: 5.0px;
}